@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  ;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }
  body {
    @apply text-black dark:text-white;
  }
}

html {
  font-family: 'Nunito Sans', sans-serif;
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  animation: moveDownOnly 1s infinite linear;
  -webkit-animation: moveDownOnly 1.3s infinite linear;
}

@keyframes moveDownOnly {
  0% {
    top: 7px;
    opacity: 1;
  }
  50%, 100% {
    top: 30px;
    opacity: 0;
  }
}

/* .hero::before{
  background: url("https://i.pinimg.com/736x/f2/48/84/f24884c672138367d398e6a8c92b06c9.jpg");
  background-attachment: fixed;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position:fixed;
  background-color: transparent; 
  transition: background-color 0.3s ease; 
  width: 100%;
  z-index: 999;
  border-bottom:  1px dotted #333;
}
.navbar.scrolled {
  background-color: whitesmoke;
}
