@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  ;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }
  body {
    @apply text-black dark:text-white;
  }
}

html {
  font-family: 'Nunito Sans', sans-serif;
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  animation: moveDownOnly 1s infinite linear;
  -webkit-animation: moveDownOnly 1.3s infinite linear;
}

@keyframes moveDownOnly {
  0% {
    top: 7px;
    opacity: 1;
  }
  50%, 100% {
    top: 30px;
    opacity: 0;
  }
}

.hero {
  position: relative; 
  background: url("https://i.pinimg.com/736x/60/4e/cc/604ecc77bd5f204aec146900c557b554.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.hero > div {
  position: relative;
  z-index: 2; 
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  top: 0;
  position:fixed;
  background-color: black; 
  transition: background-color 0.3s ease; 
  width: 100%;
  z-index: 10;
  border-bottom: 1px dotted #333;
}

/* .navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.5); 
} */
